@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Montserrat:wght@100;400;700;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');

body {
    padding: 0%;
    margin: 0%;
    outline: 0ch;
    background: #f5f2f0;
    overflow: hidden;
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
}


/* LEFT-SECTION */
#left-section {
    width: 36vw;
    position: relative;
}

.main-img {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.logo {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 8%;
    transition: all 500ms ease-in-out;
}

/* RIGHT-SECTION */
#right-section {
    width: 64vw;
}

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 3% 0% 3%;
}

.ham {
    width: 6%;
    display: none;
}

.line1 {
    width: 300px;
    height: 1px;
    background-color: #000;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    cursor: pointer;
}

.list-items {
    font-size: 0.8rem;
    color: #afaead;
    transition: all 300ms ease-in-out;
}

.list-items:hover {
    color: #000;
}

/* Hero */
.content {
    display: flex;
    flex-direction: column;
}

.hero {
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 4% 0% 3%;
}

.hero-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.crea {
    -webkit-text-stroke: 1px #000;
    font-family: Merriweather;
    color: #f5f2f0;
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}

.tivity {
    padding-left: 7rem;
    color: #333;
    font-size: 6rem;
}

.small-heading {
    align-self: flex-end;
    margin-left: 4%;
    font-family: Merriweather;
    font-weight: 300;
    font-size: 1.5rem;
    color: #afaead;
}

.media-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.media-links img {
    width: 80%;
    transition: all 300ms ease-in-out;
}

.media-links img:hover {
    transform: scale(1) scale(1.5, 1.5);
}

.packages-btn {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #333;
    align-self: flex-end;
    color: #fff;
    background: #333;
    padding: 1.5em 3em;
    transition: all 300ms ease-in-out;
}

.packages-btn:hover {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    font-weight: 600;
}

/* FEATURES */

.features {
    align-self: flex-end;
    position: absolute;
    bottom: 0%;
    height: 40vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left {
    margin-left: 3%;
}

.active-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.circle-active {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #000;
}

.active {
    font-size: 1rem;
    font-weight: 400;
    margin: 0%;
    margin-left: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content h3 {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0%;
    margin-left: 1rem;
    color: #828282;
}

.circle-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #828282;
}

.line2 {
    height: 3em;
    width: 1px;
    background-color: #828282;
}


.right {
    margin-left: 12%;
}

.apostrophy img {
    width: 10%;
}

.right p {
    overflow: scroll;
    max-height: 5rem;
    font-size: 1rem;
    margin: 0px 0 10px 0;
}

.right p::-webkit-scrollbar {
    width: 3px;
}

.right p::-webkit-scrollbar-track {
    background: transparent;
}

.right p::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
}


.dance-img {
    width: 100%;
    height: 80%;
}

.arrow {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.line3 {
    position: absolute;
    bottom: 46%;
    width: 1px;
    height: 100px;
    background: #000;
}

.point {
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: #000;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
}


@media (max-width:900px) {
    html {
        font-size: 12px;
    }

    .right {
        width: 100%;
    }
}

@media (max-width:500px) {
    html {
        font-size: 8px;
    }

    #left-section {
        width: 0%;
    }

    .logo {
        width: 20%;
        position: absolute;
        top: 1%;
        left: 1%;
        background: #f5f2f0;
    }

    #left-section img {
        display: none;
    }

    #right-section {
        width: 100%;
    }


    .navbar {
        justify-content: space-between;
        margin-bottom: 10%;
    }

    .list {
        display: none;
    }

    .ham {
        display: block;
        margin-right: 3%;
    }

    .packages-btn {
        margin-top: 5%;
    }

    .hero {
        background: linear-gradient(rgba(51, 51, 51, 0.303), rgba(51, 51, 51, 0.303)), url(./images/pexels-rfstudio-3819572.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    }

    .tivity {
        color: #fff;
    }

    .small-heading {
        color: #fff;
    }

    .features {
        padding: 3%;
        width: 100%;
    }

    .line2 {
        height: 4rem;
    }

    .arrow {
        display: none;
    }
}